## Utilizando outros métodos necessários

In [1]:
import pandas as pd

In [2]:
arquivo = "arquivos/salarios.csv"

In [3]:
df = pd.read_csv(arquivo)

In [4]:
df.head

<bound method NDFrame.head of                       Name            Position Title        Department  \
0          AARON,  ELVIA J          WATER RATE TAKER       WATER MGMNT
1        AARON,  JEFFERY M            POLICE OFFICER            POLICE
2           AARON,  KARINA            POLICE OFFICER            POLICE
3      AARON,  KIMBERLEI R  CHIEF CONTRACT EXPEDITER  GENERAL SERVICES
4      ABAD JR,  VICENTE M         CIVIL ENGINEER IV       WATER MGMNT
...                    ...                       ...               ...
32177   ZYGOWICZ,  PETER J            POLICE OFFICER            POLICE
32178    ZYMANTAS,  MARK E            POLICE OFFICER            POLICE
32179  ZYRKOWSKI,  CARLO E            POLICE OFFICER            POLICE
32180  ZYSKOWSKI,  DARIUSZ   CHIEF DATA BASE ANALYST              DoIT
32181                  NaN                       NaN               NaN

      Employee Annual Salary
0                  $88967.00
1                  $80778.00
2                  $80778.00
3                  $84780.00
4                 $104736.00
...                      ...
32177              $86520.00
32178              $83616.00
32179              $86520.00
32180             $110352.00
32181                    NaN

[32182 rows x 4 columns]>

In [5]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [6]:
df.head(10)

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
5,"ABARCA, ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,$70764.00
6,"ABARCA, EMMANUEL",GENERAL LABORER - DSS,STREETS & SAN,$40560.00
7,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,$91520.00
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER,FIRE,$90456.00
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,$86520.00

In [7]:
df['Position Title'].value_counts()

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64